<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Whoa Blog</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  </head>
  <body>
    <h1 class="maintitle">Taylor's Thoughts</h1>
    {{{body}}}
    <footer>
      <p class="footer">copyright Taylor Scott 2017, I guess</p>
    </footer>
  </body>
</html>
