<nav>
  <a class="nav" data-ui-sref="index">| Posts | </a>
  <p class="cheater">somespacehere</p>
  <a class="nav" data-ui-sref="about">| About the Author | </a>
  <p class="cheater">somespacehere</p>
  <a class="nav" data-ui-sref="contact">| Contact |</a>
</nav>

<div ng-show="vm.post">
  <h2>{{vm.post.title}}</h2>
  <h2 class="post-title">{{vm.post.title}}</h2>
  <p class="post-text">{{vm.post.body}}</p>
</div>
<p id="editbutton" onclick="showPosts()">Edit Post</p>
<div id="createpost">
  <input type="text" ng-model="vm.post.title" placeholder="title" />
  <input type="text" ng-model="vm.post.body" placeholder="body" />
  <button data-ng-click="vm.update()">edit</button>
  <button data-ng-click="vm.destroy()">delete</button>
</div>
